/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
/* CSS RESET */

html { height: 100% }
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  margin: 0; 
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Montserrat", serif;
  background-image: url("img_tree.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

button,
.btn {
  font-family: inherit;
}

/* CSS RESET ENDS */

/* NAVIGATION BAR */

nav {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: #1c2d37;
  color: #fff;
  display: flex;
  flex: row;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  padding: 2rem 5vw;
  text-decoration: none;
  border-bottom: none !important;
  box-shadow: none !important;
}
.manvika{
  width: 200px;
}
#check{
  display: none;
}

nav span {
  color: #4caf50;
}

nav p {
  font-size: 25px;
  font-weight: 600;
  cursor: default;
}

nav li {
  display: flex;
  align-items: center;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: #fff;
  padding: 0 1rem;
  transition: 0.1s ease-in-out;
  font-size: 20px;
}
nav a:hover {
  color: #eed26e;
}

nav .btn {
  padding: 0.5rem 1rem;
  margin: 0 0 0 0.5rem;
  /* border: 1px solid #4caf50; */
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  font-size: 17px;
}

/* NAV button */
.button-24 {
  padding: 13px 18px;
  background-color: #eed26e;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  transition-duration: 0.5s;
}
.big-screens a{
  font-size: 18px;
}

.button-24:hover{
  border-radius: 25px;
}

/* NAVIGATION BAR ENDS */


/* MEDIA QUERIES - RESPONSIVE LAYOUT */

/* DESKTOP - LAPTOP - TABLET */
@media screen and (min-width: 850px){
  nav .small-screens {
    display: none;
  }
}

/* MOBILE */
@media screen and (max-width: 850px){
  /* ___________ */
  nav{
    padding: 1rem 5vw;
    }
  nav .small-screens i{
    font-size: 25px;
    cursor: pointer;
  }
  
  nav .big-screens {
    display: none;
  }
  .button-24{
    display: none;
  }
}
@media screen and (min-width: 1350px){
  .flex img{
    margin-left: 100px ;
  }
  .button-24{
    margin-right: 100px;
  }
}
@media screen and (min-width: 1450px){
  .flex img{
    margin-left: 140px;
  }
  .button-24{
    margin-right: 160px;
  }
}
@media screen and (min-width: 1770px){
  .flex img{
    margin-left: 250px;
  }
  .button-24{
    margin-right: 250px;
  }
}
/* --------------------------------- */


/* MEDIA QUERIES ENDS*/


/* Image container section topnotch */
.container {
	position: relative;
  left: auto;
	max-width: 100%;
  width: 1150px;
  height: 600px;
}
.imagecontainer{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1c2d37;
}

.image {
	position: absolute;
	width: 100%;
	opacity: 0;
	animation: change-img-anim 20s infinite;
  border-radius: 20px;
  z-index: 6;
  filter: brightness(0.7);
}

.image:nth-of-type(1) {
	animation-delay: 0s;
}
.image:nth-of-type(2) {
	animation-delay: 5s;
}
.image:nth-of-type(3) {
	animation-delay: 10s;
}

@keyframes change-img-anim {
	0%{ opacity: 0;}
	10%{ opacity: 1;}
	90%{ opacity: 1;}
	100%{ opacity: 0;}
}
.textset{
  padding: 40px;
}
.imgheading{
  font-size: 60px;
  position: relative;
  background: none;
  color: #fff;
  z-index: 10;
  font-family: "Outfit", sans-serif;
  font-style: normal;
  padding: 20px;
}
.imagetext{
  line-height: 1.6;
  font-family: "Varela Round", sans-serif;
  color: #fff;
  position: relative;
  background: none;
  font-weight: 50px;
  width: 50%;
  font-size: 20px;
  z-index: 7;
  padding: 20px;
  
}
.button-25{
  position: relative;
  padding: 13px 18px;
  background-color: #eed26e;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  border-radius: 80px 60px 40px 20px/20px 40px 60px 80px;
  border: none;
  z-index: 10;
  transition-duration: 0.1s;
  left: 20px;
  top: 15px;
}
.button-25:hover{
  border-radius: 25px;
}
/* -------top-----Image container----media Quries------------- */
@media screen and  (max-width:1150px){
  .imagecontainer{
    padding: 25px;
  }
}
@media screen and  (max-width: 952px){
  .image{
    font-size: 50px;
    height:750px;
    object-fit: cover;
  }
  .imagecontainer{
    padding: 0 40px;
    padding-top: 50px;
    background-color: #1c2d37;
    padding: 20px;
  }
}
@media screen and (min-width: 1770px){
  .image{
    width: 1300px;
    height: 750px;
    margin-left: -5%;
  }
}
@media screen and (max-width: 1070px){
  .imgheading{
    font-size: 30px;
  }
}
@media screen and (max-width: 810px){
 
  .imagetext{
    width: 90%;
    font-size: 20px;
  }
}
@media screen and (max-width: 666px){
  .button-25{
    font-size: 18px;
    margin-left: -10px;
  }
  
  .imagetext{
    font-size: 18px;
  }
}
@media screen and (max-width: 500px){
  
}
@media screen and (max-width: 430px){
  .imgheading{
    font-size: 25px;
    padding: 0px;
  }
  .imagetext{
    padding: 20px 0;
  }
}
@media screen and (max-width: 375px){
  
  .imagetext{
    font-size: 16px;
    padding: 20px 0; 
  }
  .button-25{
    font-size: 14px;
    margin-left: -20px;
  }
  .image{
    object-fit: cover;
  }
}


/* __________________________________________ */
.numbersection{
  padding: 20px;
  position: relative;
  color: #171817;
  background-color: #c0cdd1;
  padding-top: 250px;
  padding-bottom: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 16px;
}
.nu1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.nu1 h1{
  text-align: center;
  padding-bottom: 20px;
}

/* media quries */
@media screen and  (max-width: 764px){
  .numbersection{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .numbersection div{
    width: 40%;
    height: 30%;
  }
  .numbersection .one .two{
    height: 45%;
  }
  .nu1 h1{
    padding-bottom: 7px;
  }
  .nu1 {
    padding: 20px;
  }
}
@media screen and (max-width:624px){
   .numbersection{
    display: flex;
    flex-direction: column;
   }
   .numbersection div{
    align-items: center;
    width: 100%;
   }
   .nu1 h1{
    margin-left: 1px;
   }
}

/* ------------------------About section-------------------------- */
.aboutussection{
  background-color: #1c2d37;
  padding: 40px;
}
.Aboutlarge{
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #3f4d55;
   font-size: 100px;
}
.About{
  position: relative;
  color: #fff;
  font-size: 45px;
  top: -60px;
}
.paratext{
  color: #fff;
  font-size: 20px;
  width: 60%;
  font-weight: 500;
  position: relative;
  top:-30px;
  line-height: 35px;
}
.aboutpara{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button-26{
  position: relative;
  padding: 13px 18px;
  background-color: #eed26e;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  border-radius: 80px 60px 40px 20px/20px 40px 60px 80px;
  border: none;
  z-index: 10;
  top: -28px;
}
.button-26:hover{
  border-radius: 25px;
}
.aboutimg{
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutimg img{
   margin-left: 20px;
   border-radius: 20px 80px 20px  20px;
   width: 100%;
}
.aboutend{
  color: #fff;
  font-size: 40px;
  font-weight: 500;
  line-height: 60px;
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  word-spacing: 10px;
}
.Propertyabout{
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-content: center;
}

.valuationheading{
  color: #fff;
  font-family: "Lato", sans-serif;
  padding-bottom: 15px;
  padding-top: 40px;
  font-weight: 600;
}
.valuationtext{
  color: #adb3b6;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  width: 90%;
}
.Managementheading{
  color: #fff;
  font-family: "Lato", sans-serif;
  padding-bottom: 15px;
  padding-top: 40px;
  font-weight: 600;
}
.managementtext{
  color: #adb3b6;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  width: 90%;
}
.opportunitiesheading{
  color: #fff;
  font-family: "Lato", sans-serif;
  padding-bottom: 15px;
  padding-top: 40px;
  font-weight: 600;
}
.opportunitiestext{
  color: #adb3b6;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  width: 90%;
}

/* ----------------------------- */

/* About section responsive */
@media screen and (max-width: 1350px){

 .aboutimg{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }
 .aboutimg img{
  margin-bottom: 40px;
  border-radius: 30px 80px 30px  30px;
  margin-left: 0px;
 }
 .Aboutlarge{
  font-size: 70px;
}
.About{
 position: relative;
 top: -40px;
 left: 40px;
 font-size: 35px;
}
.aboutrepons{
 display: flex;
 flex-direction: column;
 align-items: center;
}
.aboutpara{
 display: flex;
 flex-direction: column;
 align-items: center;
}
.paratext{
 width: 100%;
 padding-top: 20px;
}
.button-26{
 margin-top: 40px;
}
}

@media screen and  (max-width: 1250px){
 .Propertyabout{
  display: flex;
  flex-wrap: wrap;
 }
 .Propertyabout > div{
  flex: 50%;
  padding-top: 20px;
 }
}
@media screen and  (max-width: 810px){
  .aboutend{
    font-size: 35px;
  }
  .Propertyabout{
    flex-direction: column;
    padding-top: 40px;
  }
 }
 @media screen and  (max-width: 666px){
  .aboutend{
    font-size: 30px;
  }
  .aboutimg img{
    margin-bottom: 15px;
  }
  .aboutussection{
    padding: 20px;
  }
  .aboutend{
    padding-top: 30px;
  }

 }
 @media screen and  (max-width: 510px){
  .aboutend{
    font-size: 25px;
  }
  .aboutimg img{
    border-radius: 20px;
  }

}
@media screen and  (max-width: 399px){
  .aboutend{
    font-size: 25px;
    line-height: 50px;
  }
}

/* -------------------project section------------------------------- */
.projectsection  {
  position: relative;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed;
}
.projectininmg{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  filter: brightness(0.5);
}
.backgroundimg{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projectlarge{
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #adb3b6;
   font-size: 100px;
}
.topsetprok{
  position: relative;
  top: -700px;
  padding: 60px 0 60px 60px;
}
.discover{
  position: relative;
  color: #fff;
  font-size: 40px;
  top: -55px;
  z-index: 10;
  width: 100%;
  line-height: 60px;
   

}
.projecttext{
  color: #fff;
  font-weight: 500;
  position: relative;
  top:-30px;
  font-size: 17px;
}
.button-27{
  position: relative;
  padding: 13px 18px;
  background-color: #eed26e;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  border-radius: 80px 60px 40px 20px/20px 40px 60px 80px;
  border: none;
  z-index: 10;
}
.button-27:hover{
  border-radius: 5px;
}
.projectrespo{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.prosecimg img{
  border-radius: 20px 40px 20px 20px;
  filter: brightness(50%);
}
.projimg{
  position: relative;
  top: -700px;
  height: 500px;
  width: 600px;
  margin-left: 60px;
  margin-right: 60px;
  border-radius: 20px 100px 20px 20px;
  border: 2px solid #fff;
  object-fit: cover;
  margin-top: 135px;
}

/* media  responsive */
@media screen and  (max-width: 1350px){
  .projectsection{
    display: none;
  }
}









/* --------------listingsection----------------- */
.listingsection{
  background-color: #1c2d37;
  padding: 40px;
}
.listinglarge{
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #3f4d55;
   font-size: 100px;
}
.feature{
  position: relative;
  color: #fff;
  font-size: 45px;
  top: -55px;
}
.button-28{
  position: relative;
  padding: 13px 18px;
  background-color: #eed26e;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  border-radius: 80px 60px 40px 20px/20px 40px 60px 80px;
  border: none;
  z-index: 10;
  top: -28px;
}
.button-28:hover{
  border-radius: 25px;
}
.listingpara{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.listingtext{
  color: #fff;
  font-size: 18px;
  width: 60%;
  font-weight: 500;
  position: relative;
  top:-30px;
  line-height: 25px;
}
.stars{
  display: flex;
  flex-direction: row;
  padding: 5px;
  border: 1px solid #3f4d55;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
}
.stars span{
  padding: 1px 5px;
}
.rateing{
  font-size: 18px;
  padding-right: 2px;
}
/* --resort------ */
.id{
  width: 90px;
  font-size: 16px;
  color: #000;
  background: #fff;
  border-radius: 10px;
  padding: 10px;
}
.resort{
  color: #eed26e;
}
.resortlist{
  color: #eed26e;
  padding-bottom: 10px;
  width: 50%;
  font-size: 16px;
}
.resorttext{
  color: #adb3b6;
  font-weight: 500;
  width: 95%;
  padding-bottom: 25px;
  line-height: 30px;
}
.resortsection{
  color: #fff;
  margin-left: 80px;
}
.price{
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-bottom: 35px;
  margin-left: 80px;
}
.alpina{
  padding-bottom: 15px;
  font-size: 18px;
  font-weight: 500;
}
.alpina:hover{
  color: #eed26e;
  cursor: pointer;
}
.resortrespon{
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.alpinaimg img{
   border-radius: 20px;
   margin-right: 20px;
}
.projectdddjj{
  color: #eed26e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-bottom: 20px;
  margin-left: 80px;
}

.projhih p{
  color: #fff;
  margin-bottom: 25px;
}
.projhih{
  display: flex;
  flex-wrap: wrap;
  margin-left: 60px;
}
.area{
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-left: 75px;
}
.nofarea{
  display: flex;
  align-items: center;
}
.ba{
  border-right: 2px solid #3f4d55;
}
.pa{
  margin-right: 25px;
}
.areaimg{
  margin-right:  15px;
}
.grahr{
  width: 80%;
  border: 1px solid #3f4d55;
  margin-top: 25px;
  border-top-width: 1px;
  margin-left: 70px;
  display: none;
}
.grah1{
  border-top-width: 1px;
  width: 420px;
  border: 1px solid #3f4d55;
  -webkit-transform:rotate(90deg);
  position: relative;
  top: 210px;
  right: 170px;
}
.grah2{
  border-top-width: 1px;
  width: 370px;
  border: 1px solid #3f4d55;
  -webkit-transform:rotate(90deg);
  position: relative;
  top: 180px;
  left: 300px;
}
.abbuilders{
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.abbuilders img{
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}
.detailssection{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-left: 60px;
  margin-top: 20px;
}
.button-29{
  cursor: pointer;
  position: relative;
  font-size: 16px;
  font-weight: 600;
  padding: 15px;
  display: block;
  position: relative;
  color: #000;
  background-color: #fff;
  border:none;
  border-radius: 80px 60px 40px 20px/20px 40px 60px 80px;
  background-repeat: no-repeat;
  background-position: -120px -120px, 0 0;
  transition-duration: 2s;
  margin-left: 80px;
  
  background-image: -webkit-linear-gradient(
    top left,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 37%,
    rgba(255, 255, 255, 0.8) 45%,
    rgba(255, 255, 255, 0.0) 50%
  );
  background-image: -moz-linear-gradient(
    0 0,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 37%,
    rgba(255, 255, 255, 0.8) 45%,
    rgba(255, 255, 255, 0.0) 50%
  );    
  background-image: -o-linear-gradient(
    0 0,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 37%,
    rgba(255, 255, 255, 0.8) 45%,
    rgba(255, 255, 255, 0.0) 50%
  );
  background-image: linear-gradient(
    0 0,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 37%,
    rgba(255, 255, 255, 0.8) 45%,
    rgba(255, 255, 255, 0.0) 50%
  );
  
  -moz-background-size: 250% 250%, 100% 100%;
       background-size: 250% 250%, 100% 100%;
  
  -webkit-transition: background-position 500ms ease;
     -moz-transition: background-position 500ms ease;       
       -o-transition: background-position 500ms ease;
          transition: background-position 500ms ease;
}
.button-29:hover{
    background-color: #eed26e;
    border-radius: 5px;
    background-position: 0 0, 0 0;
    
    -webkit-transition-duration: 0.5s;
       -moz-transition-duration: 0.5s;
            transition-duration: 0.5s;

            -webkit-transition: all 500ms ease;
           -moz-transition: all 500ms ease;
          -ms-transition: all 500ms ease;
        -o-transition: all 500ms ease;
      transition: all 500ms ease;
}
.buildertxt{
   color: #fff;
   font-size: 16px;
   font-weight: 500;
   margin-left: 16px;
}
.acr, .hmda, .versa{
  margin-right: 20px;
  margin-left: 20px;
}
/* ----------media quries---------------- */
@media screen and  (max-width: 1350px){
  .resortrespon{
     flex-direction: column;
  }
  .onethreefive{
    display: flex;
    flex-direction: column-reverse;
  }
  .grah1, .grah2{
    display: none;
  }
  .resortsection{
    margin-top: 30px;
  }
  .resort{
    margin-right: -100px;
  }
  .alpinaimg{
     display: flex;
     align-items: center;
     margin-left:  70px;
  }
  .alpinaimg img{
    margin-top: 40px;
    width: 85%;
    margin-bottom: 10px;
  }
  .id{
    margin-top: 35px;
    padding: 15px;
    width: 80%;
    margin-left: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .idgoup{
    position: relative;
    top:-370px;
  }
  .regodown{
    position: relative;
    top: 100px;
  }
}
@media screen and (max-width: 1150px){
  .idgoup{
    margin-top: 0px;
  }
}
@media screen and  (max-width: 960px){
  .idgoup{
    margin-top: -40px;
  }
}
@media screen and  (max-width: 810px){
  .listtopi{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .listingpara{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .listinglarge{
     font-size: 50px;
     margin-left: 20px;
  }
  .feature{
    font-size: 25px;
    margin-top: 28px;
  }
  .listingtext{
    font-size: 16px;
    width: 100%;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .button-28{
    font-size: 14px;
    margin-left: -40px;
  }
  .id{
    display: none;
  }
}

@media screen and  (max-width: 730px){
  .id{
    margin-top: -65px;
  }
}

@media screen and  (max-width: 666px){
  .resortrepids{
    position: relative;
    margin-left: 70px;
  }
  .projectdddjj{
    margin-left: 0px;
  }
  .acr{
     margin-left: 0px;
  }
  .hmda{
    margin-left: 20px;
  }
  
  .resortsection, .price , .area , .detailssection, .grahr{
    margin-left: 0px;
    width: 100%;
  }
  .ba{
    border: none;
  }
  .area{
    flex-wrap: wrap;
  }
  .abbuilders{
    font-size: 20px;
    margin-left: 0px;
  }
  .button-29{
    padding: 12px;
    margin-left: 0px;
  }
  .grahr{
    margin-left: 0px;
  }
  .alpina{
    font-size: 20px;
  }
  .buildertxt{
    margin-left: 5px;
  }
 .alpinaimg{
   display: block; 
   margin-left: 0px;
  }
 .alpinaimg img{
   width: 100%;
   height: 300px;
   margin-top: 20px;
   margin-left: 0;
 }
 .id{
  margin-left: 0px;
  width: 100%;
 }
 .idgoup{
  margin-top: 10px;
 }
 .alpidown{
  margin-top: 40px;
 }
 .projhih{
   margin-left: 0px;
 }
 .versa{
  margin-left: 0px;
 }
 .id{
  margin-top: -80px;
 }
}
@media screen and  (max-width: 580px){
  .idgoup{
    margin-top: -30px;
  }
  .alpidown{
    margin-top: 40px;
   }
   .id{
    margin-top: -100px;
   }
   .acr{
    margin-left: 0px;
 }
 .hmda{
   margin-left: 20px;
 }
 
}
@media screen and (max-width:853px){
  .id{
    margin-top: -5px;
  }
}
@media screen and (max-width: 540px){
  .id{
    margin-top: -50px;
   }
}
@media screen and (max-width: 518px){
  .hmda{
    margin-left: 0px;
  }
}

@media screen and  (max-width: 500px){
  .cost{
    font-size: 18px;
  }
  .stars, .rateing{
    font-size: 15px;
  }
  .idgoup{
    margin-top: -35px;
  }
  .hmda{
    margin-left: 0px;
  }
}
@media screen and  (max-width: 496px){
   .id{
    margin-top: -120px;
   }
}
@media screen and  (max-width: 450px){
  .mai{
    margin-top: 15px;
  }
  .idgoup{
    margin-top: -70px;
  }
}
@media screen and  (max-width: 430px){
  .idgoup{
    margin-top: -80px;
  }
}


@media screen and (max-width: 400px){
   .listingsection{
    padding: 30px;
   }
   .button-29{
    padding: 8px;
    font-size: 14px;
  }
  .buildertxt{
    font-size: 17px;
  }

  .area{
    font-size: 15px;
  }
  .mai{
    margin-top: 10px;
  }
  .alpinaimg img{
    height: 250px;
    width: 100%;
    border-radius: 20px 60px 20px 20px;
  }
  .detailssection, .area, .price{
    width: 100%;
  }
  .alpidown{
    margin-top: 50px;
   }
}
@media screen and (max-width: 375px){
 .regodown{
  top: 0;
 }
 .alpidown{
   margin-top: 0;
 }
}






/* ------------------look at apartment---------------------- */
.looksection{
  display: flex;
  background-color: #1c2d37;
  padding: 20px;

}
.looksectiontext{
  color: #000;
  background-color: #c0cdd1;
  border-radius: 30px 0 0 30px;
}
.Apartment{
  padding: 100px;
}
.modern{
  font-size: 42px;
  margin-bottom: 30px;
  line-height: 65px;
}
.moderntext{
  color: #171817;
  text-shadow: 0px 0px 1px rgba(20, 20, 20, 1);
  font-size: 25px;
  line-height: 50px;
  margin-bottom: 20px;
}
.button-30{
  display: block;
  cursor: pointer;
  position: relative;
  font-size: 16px;
  font-weight: 600;
  width: 200px;
  height: 60px;
  color: #fff;
  background-color: #000;
  border:none;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: -160px -160px, 0 0;
  transition-duration: 0.5s;
}
.button-30:hover{
  background-position: 0 0, 0 0;
  border-radius: 40px; 
}
.smithsection{
  display: none;
  align-items: center;
  padding: 40px;
}
.smithsection img{
 margin: 0 25px;
}
.basila{
  margin-bottom: 10px;
}
.ceo{
  color: #3f4d55;
  font-size: 14px;
}
/* -media queries */
@media screen and  (max-width: 1630px){
 .Apartment{
  padding: 80px;
 }
}
@media screen and  (max-width: 1450px){
  .Apartment{
   padding: 60px;
  }
 }
@media screen and  (max-width: 1350px){
 .Apartment{
   padding: 20px;
 }
 .smithsection{
   padding: 20px;
 }
 .looksectiontext{
   height: 550px;
 }
 .partme{
  height: 550px;
 }
 .moderntext{
  font-size: 22px;
  line-height: 45px;
 }
}
@media screen and  (max-width: 1150px){
.looksection{
  flex-direction: column-reverse;
}
.looksectiontext{
 border-radius: 0 0 30px 30px;
 margin-top: -5px;
}
.partme{
  width: 100%;
  object-fit: cover;
  border-radius: 30px 30px 0 0 ;
}
.Apartment{
  padding-top: 45px;
}
}
@media screen and (max-width: 666px){
  .modern{
    font-size: 40px;
    line-height: 50px;
  }
}
@media screen and (max-width: 566px){
  .modern{
    font-size: 35px;
    line-height: 50px;
    margin-bottom: 15px;
  }
  .smithsection{
    padding: 10px;
  }
  .moderntext{
    font-size: 20px;
    line-height: 40px;
  }
}
@media screen and (max-width: 500px){
 
  .smithsection{
    display: none;
  }
  .smithsection img{
    margin: 20px;
  }
  .looksection{
    padding: 20px;
  }
  .looksectiontext{
    border-radius: 0 0 30px 30px;
   }
}
@media screen and (max-width: 450px){
 .looksectiontext{
   height: 650px;
 }
}
@media screen and (max-width: 419px){
  .looksectiontext{
    height: 710px;
  }
 }
@media screen and  (max-width: 340px){
  .looksectiontext{
    height: 800px;
  }
}
@media screen and  (max-width: 300px){
  .looksectiontext{
    height: 1000px;
  }
 }









/* --------------------------- */
.buysell{
 display: flex;
 justify-content: center;
 background-color: #1c2d37;
 padding: 40px;

}
.buysellrepons{
  padding-left: 40px;
}
.selllarge{
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #3f4d55;
   font-size: 90px;
   
}
.buyselltext{
  color: #fff;
  font-size: 40px;
  position: relative;
  top: -50px;
}
.buyselltexttext{
  color: #c0cdd1;
  font-size: 18px;
  position: relative;
  top: -20px;
  line-height: 30px;
  width: 90%;
}
.button-31 {
  padding: 13px 18px;
  background-color: #eed26e;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  transition-duration: 0.5s;
}
.button-31:hover{
  border-radius: 25px;
}
 /* media quries */
 @media screen and  (max-width: 1350px){
  .buyselltexttext{
    text-align: center;
    
  }
  .selllarge , .buysellpara{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
  }
  .buysell{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
  .buing img{
    width: 900px;
    object-fit: cover;
    margin-bottom: 40px;
  }
  .buysellrepons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    padding-left: 0px;
  }
  .buyselltext{
    text-align: center;
    margin-top: 5px;
  }
  br{
    display: none;
  }
  .button-31{
    margin: 30px 0;
  }
 }
 @media screen and  (max-width: 1100px){
   .buing img{
     width: 750px;
   }
 }
 @media screen and  (max-width: 900px){
   .selllarge{
    font-size: 70px;
   }
   .buyselltext{
    font-size: 30px;
    margin-top: 10px;
   }
 }
 @media screen and  (max-width: 800px){
  .buysellrepons{
    padding-left: 0px;
  }
  .buing img{
    width: 650px;
  }
}
@media screen and  (max-width: 700px){
  .buing img{
    width: 100%;
  }
}
@media screen and  (max-width: 600px){
  .buysell{
    padding: 20px;
  }
}
@media screen and  (max-width: 500px){
  .selllarge{
    font-size: 40px;
   }
   .buyselltext{
    margin-top: 25px;
   }
   .buysell{
    padding: 10px;
   }
}










/* ----------------------------------------- */
.testimonialssection{
  display: flex;
  align-items: center;
  background: #c0cdd1;
  padding: 40px;
}
.tesphooadj{
 width: 100%;
 margin-left: 20px;
}
.testilarge{
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #696969;
   font-size: 90px;
}
.client{
  color: #000;
  font-size: 50px;
  position: relative;
  top: -60px;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
}
.checked{
  color: orange;
  font-size: 30px;
}
.clienttext{
  color: #3f4d55;
  font-size: 25px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: -1px;
  width: 80%;
  word-spacing: 5px;
  margin-bottom: 25px;
}
.jannytext{
  display: flex;
}
.jannysection{
  display: flex;
}
.janny{
  margin: 20px 0 10px 20px;
}
.bklyn{
  color: #3f4d55;
  font-size: 25px;
  margin-left: 20px;
  font-weight: 500;
}
.floatingsection{
  margin-right: 30px;
}
.nofloatmain{
  position: relative;
  top: 200px;
}
.float{
  position: relative;
  left: 150px;
}
.jannysection img{
  width: 150px;
}
.janny {
  font-size: 30px;
}

@media screen and  (max-width: 1350px){
  .tesphooadj{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
  }
  .client{
    text-align: center;
    margin-top: 5px;
  }
  .clienttext{
    width: 100%;
    margin: 20px 0;
    font-size: 30px;
    line-height: 50px;
  }
  .testimid{
    margin-left: 30px;
  }
  .testimonialssection{
    display: flex;
    flex-direction: column-reverse;
  }
  .nofloatmain{
    top: 0;
    left: 200px;
  }
  .float{
    top: 70px;
    left: -100px;
    margin-bottom: 30px;
  }
  .floatingsection{
    margin-top: 20px;
    margin-bottom: 40px;
  }
}
@media screen and  (max-width: 1100px){
  .floatingsection{
    margin-left: -100px;
    margin-bottom: 40px;
  }
}
@media screen and  (max-width: 900px){
  .floatingsection{
    margin-left: -200px;
    margin-top: 30px;
  }
 
}
@media screen and  (max-width: 800px){
  .checked{
    font-size: 25px;
  }
   .testilarge{
    font-size: 80px;
   }
   .client{
    font-size: 45px;
    margin-top: 15px;
   }
   .clienttext{
    font-size: 25px;
    line-height: 35px;
   }
   .jannysection img{
    width: 100px;
  }
  .janny, .bklyn{
    font-size: 20px;
  }
  .floatingsection{
    margin-left: -280px;
   }
   .nofloatmain{
    top: 0;
    left: 300px;
  }
  .float{
    top: 70px;
    left: 0;
    margin-bottom: 30px;
  }
}
@media screen and  (max-width: 666px){
  .testimonialssection{
    padding: 20px;
  }
  .nofloatmain{
    width: 380px;
    height: 420px;
  }
  .testilarge{
    font-size: 70px;
    margin-top: 20px;
   }
}
@media screen and  (max-width: 600px){
  .testilarge{
    font-size: 58px;
   }
   .client{
    font-size: 35px;
    margin-top: 25px;
   }
   .nofloatmain{
    height: 350px;
    left: 260px;
    object-fit: fill;
  }
  .testimid{
    margin-left: 20px;
  }
  .floatingsection{
    margin-left: -220px;
  }
}
@media screen and  (max-width: 570px){
   .float{
    left: 270px;
   }
}
@media screen and  (max-width: 500px){
  .testilarge{
    font-size: 45px;
   }
   .client{
    font-size: 25px;
    margin-top: 35px;
   }
   .clienttext{
    font-size: 20px;
    line-height: 30px;
   }
   .testimid{
    margin-left: 0;
  }
  .nofloatmain{
    width: 350px;
    height: 300px;
  }
}
@media screen and  (max-width: 450px){
  .nofloatmain{
    width: 250px;
    height: 250px;
    left: 220px;
  }
    .float {
      width: 250px;
      left: 40px;
  }
}
@media screen and  (max-width: 400px){
  .testilarge{
    font-size: 38px;
   }
   .client{
    font-size: 20px;
    margin-top: 40px;
   }
   .checked {
    font-size: 20px;
   }
   .clienttext {
    font-size: 18px;
    line-height: 25px;
   }
}








/* ------------------------------------------------------ */
.newandblogwrap{
  background-color: #1c2d37;

}
.blogsection{
 background-color: #1c2d37; 
 padding: 40px 40px 0 40px;
 display: flex;
 justify-content: space-between;
 align-items: flex-end;
}
.Bloglarge{
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #3f4d55;
   font-size: 90px;
   margin-left: 40px;
}
.featurelatest{
  color: #fff;
  font-size: 45px;
  position: relative;
  top: -50px;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  margin-left: 40px;
}
.button-32{
  padding: 13px 18px;
  background-color: #eed26e;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  transition-duration: 0.5s;
}
.button-32:hover{
  border-radius: 25px;
}

.newsection{
  background-color: #1c2d37; 
  display: flex;
  justify-content: center;
  padding: 40px;
  color: #fff;
  position: relative;
  padding-left: 50px;
}
.resort{
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 30px;
}
.emphasis{
  color: #fff;
  padding-bottom: 15px;
  width: 80%;
  font-size: 25px;
  line-height: 40px;
  margin-left: 40px;
}
.rapidtext{
  width: 70%;
  font-size: 18px;
  font-weight: 500;
  color: #c0cdd1;
  margin-left: 40px;
}
.rapidimg img{
  height: 300px;
  width: 500px;
  object-fit: cover;
  border-radius: 20px;
}
.resortpod{
  margin-left: 30px;
}
.revvds{
  display: flex;
  background-color: #1c2d37; 
  padding: 40px;
}
/* quries */
@media screen and  (max-width: 1350px){
  .revvds{
    display: flex;
    flex-direction: column-reverse;
  }
  .blogsection{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Bloglarge{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
  }
  .featurelatest{
    margin-left: 0px;
  }
  .newsection{
    display: flex;
    flex-direction: column;
  }
  .rapidimg img{
    margin-top: 40px;
    margin-left: 40px;
  }
}
@media screen and  (max-width: 680px){
  .newsection{
    padding: 2px;
  }
  .section{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .revvds{
    padding: 0px;
  }
}
@media screen and  (max-width: 680px){
   .Bloglarge{
     font-size: 80px;
   }
   .featurelatest{
    font-size: 30px;
   }
}
@media screen and  (max-width: 580px){
 .rapidimg img{
   width: 400px;
   margin-top: 20px;
   margin-left: 20px;
 }
}
@media screen and  (max-width: 450px){
  .rapidimg img{
     width: 330px;
  }
  .unio{
    font-size: 23px;
    width: 100%;
  }
}
@media screen and  (max-width: 360px){
  .rapidimg img{
    width: 260px;
    height: 280px;
 }
}









/* ------------------------------------- */
.footer{
  background-color: #c0cdd1;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footertext{
  color: #171817;
  font-size: 18px;
  padding-bottom: 20px;
  width: 40%;
}
.footer-box{
  padding: 10px;
}
.footer img{
  width: 40%;
}
.footer-img img{
  width: 100px;
  height: 100px;
  object-fit: contain;
  border-radius: 25px;
  margin-bottom: 20px;
  border: 1px solid #000;
}
.footericons{
  margin-left: 20px;
}

.fa-brands , .fa-globe{
  font-size: 25px;
  margin: 0 10px;
  background-color: #000;
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  text-align: center;
  padding-top: 12px;
  transition-duration: 0.5s;
}
.fa-brands:hover , .fa-globe:hover{
  background-color: #ffb20b;
  color: #000;
}
.foo-links{
  margin-bottom: 20px;
}
.usefull-links li, .other-links li{
  margin: 10px 0;
}
.usefull-links li a, .other-links li a{
  color: #6b9832;
  font-size: 18px;
  font-weight: 500;
}
.usefull-links li a:hover , .other-links li a:hover{
  color: #ffb20b;
}
.fa-location-dot , .fa-phone, .fa-envelope {
  font-size: 30px;
  margin-right: 20px;
}
.getinto{
  color: #1c2d37;
  font-weight: 600;
  margin-bottom: 20px;
}
.intoss{
  display: flex;
  margin-bottom: 20px;
}
.foogetin{
  position: relative;
  left: -300px;
}
.innerlane{
  margin-bottom: 10px;
  color: #171817;
  font-weight: 500;
}
/* ------------------------------------------- */
.copyrightsection{
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #171817;
  font-size: 18px; 
  font-weight: 400;
  background-color: #a4b5ba;
  padding: 30px;
}
.terms{
  display: flex;
  justify-content: center;
  align-items: center;
}
.pocc{
  margin: 0 20px;
}
/* ---------------------- */
@media screen and  (max-width: 1000px){
  .footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .foogetin{
    left: 0px;
    margin-left: 20px;
  }
  .footertext{
    width: 70%;
  }
}
@media screen and  (max-width: 700px){
  .footertext{
    width: 90%;
    line-height: 30px;
  }
}
@media screen and  (max-width: 400px){
  .footer{
    padding: 15px;
  }
}
/* ------------------- */
@media screen and  (max-width: 800px){
  .copyrightsection{
    display: flex;
    flex-direction: column;
  }
  .terms{
    margin-top: 20px;
    font-size: 16px;
    align-items: flex-start;
  }
}
@media screen and  (max-width: 450px){
  .terms{
    display: flex;
    flex-direction: column;
    margin-left: -200px;
  }
  .pocc{
    margin: 10px 10px 10px 0;
  }
}